<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.UserName</h5>
        <h6 class="card-subtitle mb-3 text-muted">@Model.CreatedDate</h6>
        <p class="card-text">
            @Model.Content
        </p>
    </div>
</div>