@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="p-3 p-md-5 mb-4 text-white rounded bg-dark">
        <h1 class="display-4 fst-italic" style="text-align: center;">JRovny Blog</h1>
    </div>

    @* List of Blog Post Summaries *@
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-1">
            @foreach (var post in Model.Posts)
            {
                <div class="card mb-3">
                    <img src="@post.Image" class="card-img-top img-fluid" alt="Blog post image">
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <h6 class="card-subtitle text-muted">@post.CreatedDate.ToShortDateString() &bull; Jordan</h6>
                    </div>
                    <div class="card-footer">
                        <a asp-area="Posts" asp-page="/index" class="card-link">Continue
                            reading...
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>