@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container px-0">
    <div class="p-3 p-md-3 mb-4 text-white rounded bg-dark">
        <h1 class="display-4 fst-italic" style="text-align: center;">JRovny Blog</h1>
    </div>

    @* List of Blog Post Summaries *@
    <div class="container px-0">
        @foreach (var post in Model.Posts)
        {
            <partial name="PostSummary" model="@post"/>
        }
    </div>
</div>