@page
@model IndexModel
@{
    ViewData["Title"] = "Musings of a Software Developer";
}

<div class="p-3 text-white rounded bg-dark">
    <h1 class="display-4 fst-italic" style="text-align: center;">JRovny Blog</h1>
</div>

<div class="container px-0">
    @* List of Blog Post Summaries *@
    <div class="row justify-content-center">
        <div class="col-1 col-md-0"></div>
        <div class="col-10 col-md-12">
            <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-4">
                @foreach (var post in Model.Posts)
                {
                    <div class="col mb-2 p-1">
                        <partial name="PostSummary" model="@post"/>
                    </div>
                }
            </div>
        </div>
        <div class="col-1 col-md-0"></div>
    </div>
</div>